<div class="timer">
  <h1>{{stopwatch.hours| number:'2.0'}}:{{stopwatch.minutes| number:'2.0'}}:{{stopwatch.seconds| number:'2.0'}}</h1>
</div>
<div class="buttons">
  <button mat-flat-button color="primary" (click)="start()" [hidden]="isPaused">Start</button>
  <button mat-flat-button color="primary" (click)="stop()" [hidden]="!isPaused" [disabled]="!_stopwatchService.isRunning">Stop</button>
  <button mat-flat-button color="primary" (click)="wait()" [disabled]="!isPaused">Wait</button>
  <button mat-flat-button color="accent" (click)="reset()">Reset</button>
</div>

